{{ partial "cal/events.html" . }}

{{ $jsCalAddEvent := resources.Get "js/cal/addevent.js" | minify }}
<script src="{{ $jsCalAddEvent.Permalink }}"></script>
{{ $jsCalDatePicker := resources.Get "js/cal/datepicker.js" | minify }}
<script src="{{ $jsCalDatePicker.Permalink }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/mailcheck/1.1.2/mailcheck.min.js" integrity="sha512-xbDYG2aNoxRNdWVXnGkOBrCafX3GZ7+8lSfSOjkpvUmHLwZSFxrcX9aMXsBAbUeus18rxTCiAg5bj5v2EYQUJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="modal fade" tabindex="-1" id="cancel-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h4>キャンセルしてもよろしいですか？</h4>
        <p>このイベントは保存されません。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">戻る</button>
        <button type="button" id="confirm-cancel" data-dismiss="modal" class="btn btn-warning">イベントを破棄</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="delete-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h4>このイベントを削除してもよろしいですか？</h4>
        <p>イベントは完全に削除されます。この操作は元に戻せません。</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn" data-dismiss="modal">戻る</button>
        <button type="button" id="confirm-delete" data-dismiss="modal" class="btn btn-warning">イベントを削除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- for changes to events, including deletion success. -->
<div class="modal fade" tabindex="-1" id="success-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p id="success-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="success-ok">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- for initial submit -->
<div class="modal fade" tabindex="-1" id="submit-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>イベントが送信されました</h4>
        <p>確認メールを <span id="submit-email">example@example.com</span> 宛に送信しました。
        <p>メール内のリンクからイベントを公開する<em>必要があります</em>。
        <p>20分以内に確認メールが届かない場合は、<a href="mailto:bikecal@shift2bikes.org">bikecal@shift2bikes.org</a> までお問い合わせください。
        <p>ありがとうございます！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" id="submit-ok">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="mustache-edit" type="text/template">

  [[^ id ]]<h1>イベントを追加</h1>[[/ id ]]
  [[# id ]]<h1>イベントを編集</h1>[[/ id ]]

  [[# id ]]
  [[^ published ]]
  <!-- event has been created, but is not yet published -->
  <div class="unpublished-event">
    <p>あと少しです！カレンダーに公開するには、下のボタンをクリックしてください。</p>
    <button type="button" class="publish-button btn btn-add-event">公開する</button>
  </div>
  [[/ published ]]
  [[/ id ]]

  <br>
  <form id="event-entry">
    <input type="hidden" name="id" id="id" value="[[id]]" />
    <input type="hidden" name="secret" id="secret" value="[[secret]]" />
    <div class="panel-group" id="event-fields">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#general-fields" aria-expanded="true">
              イベント内容
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>

        <div id="general-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label req-label" for="title">イベント名</label>
              <input type="text" class="form-control" name="title" id="title" value="[[title]]" required="true" aria-invalid="false"/>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="details">詳細</label>
              <textarea class="form-control" name="details" id="details" required="true" aria-invalid="false" aria-describedby="details-help" rows="8">[[details]]</textarea>
              <p class="input-help" id="details-help">参加費がある場合は、<strong>必ず</strong>ここに記載してください。記載がない場合、参加者は無料のイベントだと判断します。</p>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="audience">対象</label>
              <select name="audience" class="form-control" id="audience">
                [[# audienceOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ audienceOptions ]]
              </select>
            </div>

            <div class="form-group">
              <div>
                <label class="control-label optional-label" for="safetyplan">
                  <input type="checkbox" name="safetyplan" id="safetyplan" value="1" [[# safetyplan ]]checked[[/ safetyplan ]] />
                  感染症安全対策プランに従います
                </label>
                <p class="input-help">自転車イベントを安全に楽しむためにご協力をお願いします！この<a href="/pages/public-health/#safety-plan" target="_blank" title="新しいウィンドウで開きます">感染症安全対策プラン</a>に従う場合、カレンダー上のイベントに特別なマークが表示されます。</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="image">画像</label>

              <div class="image-form">
                <div class="image-display">
                  [[^ image]]
                  <img src="{{ absURL "img/cal/icons/image.svg" }}" alt="" class="event-image placeholder" />
                  [[/ image]]
                  [[# image]]
                  <a href="[[image]]" target="_blank" title="フルサイズを新しいウィンドウで表示">
                    <img src="[[image]]" alt="アップロード画像" class="event-image" />
                  </a>
                  [[/ image]]
                </div>
                <div class="image-input">
                  [[^ id ]]
                  <input type="file" class="form-control" name="image" id="image" aria-describedby="image-help" disabled />
                  <p class="input-help" id="image-help">画像を追加するには、まずイベントを保存・確認してください。</p>
                  [[/ id ]]
                  [[# id ]]
                  <input type="file" class="form-control" name="image" id="image" aria-describedby="image-help" />
                  <p class="input-help" id="image-help">画像はJPG、PNG、またはGIF形式で5<abbr title="メガバイト">MB</abbr>以下にしてください。</p>
                  [[/ id ]]
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#dateandtime-fields" aria-expanded="true">
              日時
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="dateandtime-fields" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="form-group">
              <label class="control-label req-label" for="datestring">日付</label>
              <div id="date-select-container" class="date-select-container-style form-group">
                <table class="day-of-week">
                  <tr>
                    <td class="calendar-month-title"></td>
                    <td>日</td>
                    <td>月</td>
                    <td>火</td>
                    <td>水</td>
                    <td>木</td>
                    <td>金</td>
                    <td>土</td>
                  </tr>
                </table>
                <div id="date-select" class="date-select-style">
 									<table id="date-picker" class="date-picker-style">
                  </table>
                </div>
                <div id="date-picker-actions">
                  <div>
                    <button type="button" id="date-picker-prev-month" aria-label="前へ">←</button> <button type="button" id="date-picker-next-month" aria-label="次へ">→</button>
                  </div>
                  <div>
                    <button type="button" id="date-picker-today">今日</button>
                  </div>
                </div>
                <div id="date-selected-container">
                  選択した日付：
                  <ul id="date-selected"></ul>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="time">時間</label>
              <select name="time" class="form-control" id="time" aria-describedby="time-help">
                [[# timeOptions ]]
                <option value="[[value]]" [[# isSelected ]]selected[[/ isSelected ]]>[[time]]</option>
                [[/ timeOptions ]]
              </select>
              <p class="input-help" id="time-help">複数の時間がある場合（例：「集合時間」と「出発時間」）は、最初の時間をここに入力してください。それ以降の時間は下の「時間詳細」欄に記入してください。</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="timedetails">時間詳細</label>
              <input type="text" class="form-control" name="timedetails" id="timedetails" value="[[timedetails]]" aria-describedby="timedetails-help" />
              <p class="input-help" id="timedetails-help">時間に関する追加情報があれば記入してください。短めに書くことをおすすめします。例：「17:00集合、17:30出発」</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="eventduration">イベントの所要時間（分）</label>
              <input type="text" class="form-control" name="eventduration" id="eventduration" value="[[eventduration]]" aria-describedby="eventduration-help" />
              <p class="input-help" id="eventduration-help">参加者がイベントのおおよその所要時間を把握できるようにしましょう！</p>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#location-fields" aria-expanded="true">
              場所
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="location-fields" class="panel-collapse collapse in">
          <div class="panel-body">

            <div class="form-group">
              <label class="control-label" for="area">エリア</label>
              <select name="area" class="form-control" id="area">
                [[# areaOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ areaOptions ]]
              </select>
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="venue">集合場所名</label>
              <input type="text" class="form-control" name="venue" id="venue" value="[[venue]]" required="true" aria-invalid="false" />
            </div>
            <div class="form-group">
              <label class="control-label req-label" for="address">住所</label>
              <input type="text" class="form-control" name="address" id="address" value="[[address]]" required="true" aria-invalid="false" aria-describedby="address-help" />
              <p class="input-help" id="address-help">住所または交差点名を入力してください。Googleマップなどで検索できる形式が望ましいです。場所が未定の場合は「未定」と入力してください。</p>
            </div>
            <div class="form-group">
              <label class="control-label optional-label" for="locdetails">場所の詳細</label>
              <input type="text" class="form-control" name="locdetails" id="locdetails" value="[[locdetails]]" aria-describedby="locdetails-help" />
              <p class="input-help" id="locdetails-help">集合場所に関する追加情報があれば記入してください。例：「時計台の近くに集合」</p>
            </div>

            <div class="form-group">
              <div>
                <label class="control-label optional-label" for="loopride">
                  <input type="checkbox" name="loopride" id="loopride" value="1" [[# loopride ]]checked[[/ loopride ]] aria-describedby="loopride-help" />
                  ルートは周回コースです
                </label>
              <p class="input-help" id="loopride-help">ライドは出発地点に戻りますか？</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="locend">終了場所の詳細</label>
              <input type="text" class="form-control" name="locend" id="locend" value="[[locend]]" aria-describedby="locend-help" />
              <p class="input-help" id="locend-help">終了場所がわかっている場合は記入してください。</p>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="length">ルートの距離</label>
              <select name="length" class="form-control" id="length">
                [[# lengthOptions ]]
                <option value="[[code]]" [[# isSelected ]]selected[[/ isSelected ]]>[[text]]</option>
                [[/ lengthOptions ]]
              </select>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#contact-fields" aria-expanded="true">
              連絡先情報
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="contact-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label req-label" for="organizer">主催者</label>
              <input type="text" class="form-control" name="organizer" id="organizer" value="[[organizer]]" required="true" aria-invalid="false" />
            </div>

            <div class="form-group">
              <label class="control-label req-label" for="email">メールアドレス</label>
              <input type="text" class="form-control" name="email" id="email" value="[[email]]" autocomplete="email" aria-describedby="email-help email-suggestion" required="true" aria-invalid="false" />
              <p class="input-help" id="email-help">連絡可能な有効なメールアドレスを入力してください。このアドレスに確認メールが送信されます。</p>
              <div id="email-suggestion" aria-live="polite"></div>

              <div>
                <label class="control-label" for="hideemail">
                  <input type="checkbox" name="hideemail" id="hideemail" value="1" [[^ id ]]checked[[/ id ]] [[# hideemail ]]checked[[/ hideemail ]] />
                  メールアドレスを公開しない
                </label>
              </div>
            </div>

            <div>追加の詳細情報用Webサイト</div>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label optional-label" for="webname">Webサイト名</label>
                <input type="text" class="form-control" name="webname" id="webname" value="[[webname]]" />
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                <label class="control-label optional-label" for="weburl">URL</label>
                <input type="text" class="form-control" name="weburl" id="weburl" value="[[weburl]]" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="phone">電話番号</label>
              <input type="text" class="form-control optional-label" name="phone" id="phone" value="[[phone]]" />

              <label class="control-label" for="hidephone">
                <input type="checkbox" name="hidephone" id="hidephone" value="1" [[# hidephone ]]checked[[/ hidephone ]] />
                電話番号を公開しない
              </label>
            </div>

            <div class="form-group">
              <label class="control-label optional-label" for="contact">その他の連絡先</label>
              <input type="text" class="form-control" name="contact" id="contact" value="[[contact]]" aria-describedby="contact-help" />
              <p class="input-help" id="contact-help">名前、メールアドレス、WebサイトURL、SNSリンク、私書箱など、何でも入力できます！</p>

              <label class="control-label" for="hidecontact">
                <input type="checkbox" name="hidecontact" id="hidecontact" value="1" [[# hidecontact ]]checked[[/ hidecontact ]] />
                その他の連絡先を公開しない
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Commented out here between March-June during Pedalpalooza season when these fields are required -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#print-fields" aria-expanded="true">
              印刷カレンダー情報
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="print-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <p class="input-help">印刷カレンダーではスペースが限られているため、一部の項目は文字数を制限する必要があります。できるだけ簡潔に記入してください！</p>
            <p class="input-help">印刷締め切りの3週間前までに送信してください。すべてのイベントが印刷される保証はありませんのでご了承ください。</p>
            <div class="form-group">
              <label class="control-label optional-label" for="tinytitle">印刷用タイトル（24文字）</label>
              <input type="text" class="form-control" name="tinytitle" id="tinytitle" value="[[tinytitle]]" maxlength="24" />
            </div>
            <div class="form-group">
              <label class="control-label optional-label" for="printdescr">印刷用説明（120文字）</label>
              <textarea class="form-control" name="printdescr" id="printdescr" maxlength="120" rows="5" >[[printdescr]]</textarea>
            </div>

            <fieldset>
              <legend>印刷用連絡先</legend>
              <div class="checkbox">
                <label class="control-label" for="printorganizer">
                  <input type="checkbox" name="printorganizer" id="printorganizer" value="1" checked disabled />
                  主催者
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printemail">
                  <input type="checkbox" name="printemail" id="printemail" value="1" [[# printemail ]]checked[[/ printemail ]] />
                  メールアドレス
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printphone">
                  <input type="checkbox" name="printphone" id="printphone" value="1" [[# printphone ]]checked[[/ printphone ]] />
                  電話番号
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printweburl">
                  <input type="checkbox" name="printweburl" id="printweburl" value="1" [[# printweburl ]]checked[[/ printweburl ]] />
                  Webリンク
                </label>
              </div>
              <div class="checkbox">
                <label class="control-label" for="printcontact">
                  <input type="checkbox" name="printcontact" id="printcontact" value="1" [[# printcontact ]]checked[[/ printcontact ]] />
                  その他の連絡先
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      [[^ id ]]
      <!-- only show Terms section for initial submission -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#terms-fields" aria-expanded="true">
              利用規約
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>
        <div id="terms-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <p class="input-help">カレンダーに掲載するイベントは<a href="/pages/shift-code-of-conduct/" target="_blank" title="新しいウィンドウで開きます">行動規範</a>を遵守する必要があります。</p>
            <div class="checkbox">
              <label class="control-label" for="code_of_conduct">
                <input type="checkbox" name="code_of_conduct" id="code_of_conduct" value="1" [[# codeOfConduct ]]checked[[/ codeOfConduct ]] />
                行動規範に同意します
              </label>
            </div>
            <p class="input-help">イベントを成功させるためのヒントとして、イベント送信前に<a href="/images/rideleadingcomiccolor.jpg" target="_blank" title="新しいウィンドウで開きます">ライドリーダーガイド</a>を一度お読みください。</p>
            <div class="checkbox">
              <label class="control-label" for="read_comic">
                <input type="checkbox" name="read_comic" id="read_comic" value="1" [[# readComic ]]checked[[/ readComic ]] />
                ライドリーダーガイドを読みました
              </label>
            </div>

          </div>
        </div>
      </div>
      [[/ id ]]

      [[# id ]]
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a role="button" data-toggle="collapse" href="#delete-event-fields" aria-expanded="true">
              イベントを削除
              <svg class="icon expand" role="img" aria-hidden="true">
                <use href="{{ absURL "img/cal/icons/icon-set.svg#icon-arrow-down" }}"/>
              </svg>
            </a>
          </h2>
        </div>

        <div id="delete-event-fields" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="form-group">
              <p class="input-help">イベントが開催されなくなった場合は、削除するよりも<a href="#dateandtime-fields">中止</a>にすることをおすすめします。中止にすれば、別の日程への変更など、参加者へのメッセージを掲載できます。</p>
              <p class="input-help">繰り返しイベントの場合、<strong>シリーズ全体が削除されます</strong>。</p>
              <p class="input-help"><strong>一度削除したイベントは復元できません！</strong> よろしければ：</p>

              <button id="delete-button" type="button" class="btn btn-add-event" data-toggle="modal" data-target="#delete-modal">削除</button>
            </div>
          </div>
        </div>

      </div>
      [[/ id ]]

    </div>
  </form>
  <div class="edit-buttons" >
      <button type="button" class="preview-edit-button btn btn-add-event" style="display: none;">編集</button>
      <button type="button" class="preview-button btn btn-add-event">プレビュー</button>
      [[# id ]]
      <button type="button" class="save-button published-save-button btn btn-add-event" style="display: none;">保存</button>
      <button type="button" class="duplicate-button btn btn-add-event" style="display: none;">複製</button>
      [[/ id ]]
      [[^ id ]]
      <button type="button" class="save-button btn btn-add-event">保存</button>
      <button type="button" class="cancel-button btn btn-add-event" data-toggle="modal" data-target="#cancel-modal">破棄</button>
      [[/ id ]]

      <span class="save-result"></span>
    </div>
</script>

<script id="mustache-select-month" type="text/template">
  [[#weeks]]
  <tr class="calendar-row">
    [[#monthTitle]]
    <td rowspan="[[weeksInMonth]]" class="calendar-month-title"><span>[[monthTitle]]</span></td>
    [[/monthTitle]]
    [[#days]]
    <td class="calendar-day [[classes]]" data-date="[[date]]" [[#today]]aria-current="date" title="今日"[[/today]]>[[day]]</td>
    [[/days]]
  </tr>
  [[/weeks]]
</script>

<script id="mustache-datestatuses" type="text/template">
  [[# dateStatuses ]]
  <li data-id="[[ id ]]">
    <span>[[ date ]]</span>
    <select class="status-selector">,
      <option value="A" [[# scheduled ]]selected[[/ scheduled ]]>開催予定</option>
      <option value="C" [[# cancelled ]]selected[[/ cancelled ]]>中止</option>
    </select>
    <label>
      更新メッセージ（任意）
      <input type="text" class="newsflash" value="[[ newsflash ]]">
    </label>
  </li>
  [[/ dateStatuses ]]
</script>

<script id="email-suggestion-template" type="text/template">
  <button type="button" data-js-correction>もしかして <span class="email-address">[[ suggestion ]]</span>？</button>
  <button type="button" data-js-dismiss><span class="glyphicon glyphicon-remove" role="img" aria-label="閉じる"></span></button>
</script>
